<a href="https://colab.research.google.com/github/Allzer/Python-develop/blob/main/%D0%9A%D1%83%D1%80%D1%81%D0%BE%D0%B2%D0%B0%D1%8F%20%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%B0%20%D1%81%20pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

Order number - номер заказа;
Order date - дата заказа;
Product name - название продукта;
Product category - категория продукта;
Number of sales - количество продаж;
Price per unit - цена за штуку;
Total cost - общая стоимость;

In [ ]:
f = pd.read_csv('tableEng.csv', encoding="latin-1", sep=';')
f

,Order number,Order date,Product name,Product category,Number of sales,Price per unit,Total cost
0,4001,01.02.2022,Apple iPhone 14,Smartphones,500,89990,44995000
1,4002,02.04.2022,Samsung Galaxy S22 Ultra,Smartphones,300,99990,29997000
2,4003,03.01.2022,Game consoles,Game consoles,200,59990,11998000
3,4004,04.02.2022,LG OLED TV,Televisions,150,179990,26998500
4,4005,05.05.2022,Apple MacBook Pro 16,Laptops,100,199990,19999000
5,4006,06.03.2022,Canon EOS R7,Cameras,50,249990,12499500
6,4007,07.06.2022,Bose QuietComfort 55,Headphones,100,34990,3499000
7,4008,08.05.2022,Samsung Galaxy Tab S8,Tablets,75,69990,5249250
8,4009,09.04.2022,DJI Mavic 3,Drones,25,149990,3749750
9,4010,10.02.2022,Philips Hue Smart Bulbs,Smart Home,500,2990,1495000
10,5001,01.01.2022,Apple iPad Pro 12.9,Tablets,200,89990,17998000
11,5002,02.02.2022,Sony PlayStation 5 Pro,Game consoles,100,59990,5999000
12,5003,03.10.2022,Samsung Galaxy Watch 5,Smart watches,150,29990,4498500
13,5004,04.11.2022,LG UltraFine,Monitors,50,99990,4999500
14,5005,05.12.2022,Canon EOS R8,Cameras,75,299990,22499250
15,5006,06.10.2021,Bose SoundLink Revolve+,Portable speakers,100,24990,2499000
16,5007,07.09.2022,DJI Ronin 4D,Stabilizers,25,499990,12499750
17,5008,08.07.2021,Samsung Galaxy Book Pro,Laptops,50,129990,6499500
18,5009,09.07.2022,Philips Sonicare DiamondClean,Electric Toothbrushes,200,9990,1998000
19,5010,10.02.2001,Nest Learning Thermostat,Smart Home,100,19990,1999000

Общая выручка магазина

In [ ]:
T_c = f['Total cost'][:] #Копируем в переменную значения нужного нам столбца
npT_c = np.array([T_c]) #Закидываем значения в массив нампи
print(f'Общая выручка составит {np.sum(npT_c)}р') #Выводим результат

Общая выручка составит 241969500р

Найти товар, который был продан наибольшее количество раз

In [ ]:
all = f[['Product name', 'Number of sales']] #создаём массив данных из нужных нам столбцов
q = all.sort_values(by = 'Number of sales', ascending=False) #сортируем по возрастанию
q.loc[0] #выводим нулевой индекс (самое большое кол-во продаж)

Product name       Apple iPhone 14
Number of sales                500
Name: 0, dtype: object

 Найти товар, который принес наибольшую выручку

In [ ]:
all = f[['Product name', 'Total cost']] #создаём массив данных из нужных нам столбцов
q = all.sort_values(by = 'Total cost', ascending=False) #сортируем по возрастанию
q.loc[0] #выводим нулевой индекс (больше всего выручки)

Product name    Apple iPhone 14
Total cost             44995000
Name: 0, dtype: object